<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Book Auhtor Registration Form
        </div>
        <div class="card-body">
            <form action="/bookstore/v1/authors/add" method="POST">
                <div class="form-group">
                    <label for="fullname">Fullname:</label>
                    <input type="text" class="form-control" name="fullname" id="fullname" value="">
                </div>
                <div class="form-group">
                    <label for="authorimageurl">Image URL:</label>
                    <input type="text" class="form-control" name="authorimageurl" id="authorimageurl" value="">
                </div>
                <div class="form-group">
                    <label for="birthdate">BirthDate:</label>
                    <input type="date" class="form-control" name="birthdate" id="birthdate" value="">
                </div>
                <div class="form-group">
                    <label for="deathdate">DeathDate:</label>
                    <input type="date" class="form-control" name="deathdate" id="deathdate" value="">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-primary">Add New Author</button>
                </div>
            </form>
        </div>
    </div>
</div>