<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Hello!</h1>
        <p class="lead">welcome to the best book store on the net, where you can find the book of your choice.</p>
        <hr class="my-4">
        <p class="lead">in our store you can buy or rent a book at the best prices, we have a wide variety of titles and topics for all types of audiences.</p>
        <a class="btn btn-primary btn-lg" href="/bookstore/v1/store" role="button">go to the store</a>
    </div>
</div>